@inherits NavMenuComponent
<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary'>
        <div class="container">
            <a class="navbar-brand" [routerLink]='["/"]'>ZPP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded" onclick="@Toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": IsExpanded}'>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" >
                        <NavLink class="nav-link" href="zajecia">Zajęcia</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="logowanie">Logowanie</NavLink>
                    </li>
                    <li class="nav-item" >
                        <NavLink class="nav-link" href="rejestracja">Rejestracja</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="profil">Profil</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>