@page "/me"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@using ZPP_Blazor.Models;

<h1>@User.Name @User.Surname</h1>
@functions{   
    public User User { get; set; }

     protected override async Task OnInitAsync()
    {
        User = new User();
        Console.WriteLine("Navigated to /me");

        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", "token");
        var response = await Http.GetAsync(@"http://localhost:5000/api/me");

        if(response != null && response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            Console.WriteLine("Load user OK");
            string jsonContent = await response.Content.ReadAsStringAsync();
            User = Json.Deserialize<User>(jsonContent);
        }

        else if(response == null)
        {
                Console.WriteLine("No response");
        }
        else if(response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
                Console.WriteLine("Unauthorized");
                UriHelper.NavigateTo("/");
        } 
    } 
}
