@page "/sign-in"
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@using System.Diagnostics;
@using ZPP_Blazor.Models;

<div>
    <h2>Logowanie</h2>
    <button class="btn btn-primary" onclick=@SignInApp>Zaloguj</button>
    <button class="btn btn-primary" onclick=@ShowProfile>Konto</button>
    <p>@Result</p>
</div>
@functions{
    public string Result { get; set; }
    public async void SignInApp()
    {
        System.Diagnostics.Debug.WriteLine("Logowanie");
        var user = new { Login = "dsurys", Password = "123456" };
        var content = new StringContent(Json.Serialize(user), System.Text.Encoding.UTF8, "application/json");
        var result = await Http.PostAsync(@"http://localhost:5000/api/sign-in", content);

        var response = await result.Content.ReadAsStringAsync();
        var obj = Json.Deserialize<SignInResult>(response);
        if (obj.Success)
        {
            sessionStorage.SetItem<JsonWebToken>("accessToken", obj.Token);
            UriHelper.NavigateTo("/me");
        }
        else
            Debug.WriteLine(obj.Message);
    }

    public async void ShowProfile()
    {
        var result = await Http.GetAsync("http://localhost:5000/");
        var content = await result.Content.ReadAsStringAsync();
        Console.WriteLine(content);
    }
}