@page "/sign-in"
@inherits SignInComponent

<div>
    <h2>Logowanie</h2>
    <button class="btn btn-primary" onclick=@SignInApp>Zaloguj</button>
    <div class="btn btn-primary" onclick="@SignInFacebook">Facebook</div>
    <div class="btn btn-primary" onclick="@SignInGoogle">Google</div>
    <p>@Result</p>
</div>